<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread]%logger{56}.%method:%L - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>
    <logger name="druid.sql.DataSource" level="WARN"/>
    <logger name="druid.sql.Connection" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.mybatis" level="WARN"/>
    <logger name="druid.sql" level="DEBUG"/>
    <logger name="net.sf.ehcache.Cache" level="OFF"/>
    <logger name="java.sql" level="WARN"/>
    <logger name="druid.sql.Statement" level="DEBUG"/>
    <logger name="druid.sql.ResultSet" level="WARN"/>
    <root level="DEBUG">
        <appender-ref ref="stdout"/>
    </root>
</configuration>